<mat-card class="example-card" *ngIf="student"
          (click)="selectStudent(student)"
          [ngClass]="{
            selected: student.fname + student.lname === (selectedStudent | async),
            bad: student.grade <= 45
          }">
  <mat-card-content>
    <div>
      <mat-icon>portrait</mat-icon>
    </div>
    <div>
      <p>Name: {{student.fname}}</p>
      <p>S.Name: {{student.lname}}</p>
    </div>
    <div>
      <p>Class: {{student.course}}</p>
      <p>Year: {{student.year}}</p>
    </div>
    <div>
      <p>Score: <input type="number" max="100" min="0" matInput
                       [ngClass]="{error: student.grade > 100 || student.grade < 0}"
                       [(ngModel)]="student.grade"></p>
    </div>
  </mat-card-content>
</mat-card>
