mat-card {
  border: 1px solid gray;
  border-radius: 3px;
  width: 90%;
  padding: 10px;
  margin: 10px auto;

  &.selected {
    background-color: #FBDBDB;
  }

  &.bad {
    background-color: red;
  }
}

mat-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  color: green;
}

mat-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  div {
    margin: 0 10px;
    text-align: start;
  }
}

input {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 20px;
  background-color: #FEFFE0;
  width: 30px;
  height: 10px;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }

  &.error {
    background-color: red;
  }
}
