section {
  width: 90%;
  height: 45%;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;

  &:first-child {
    height: 400px;
    margin-bottom: 10px;

    div {
      display: flex;
      flex-wrap: wrap;

      & * {
        width: 50%;
        min-width: 400px;
      }
    }

    @media (max-width: 890px) {
      height: 55%;

      div {
        justify-content: center;

        & * {
          width: 100%;
          min-width: 200px;
        }
      }
    }
  }

  &:last-child {
    & * {
      width: 100%;
    }
  }

  h1 {
    width: 100%;
    font-size: 18px;
  }
}
