section {
  width: 90%;
  height: 50%;
  margin: 10px auto;
  border: 1px solid gray;
  padding: 10px;

  &:first-child {
    height: 500px;

    div {
      display: flex;
      flex-wrap: wrap;

      & * {
        width: 50%;
      }
    }
  }

  &:last-child {
    & * {
      width: 100%;
    }
  }

  h1 {
    width: 100%;
    font-size: 18px;
  }
}
