:host {
  display: block;
  height: 300px;
  overflow: auto;
}

table {
  width: 90%;
  text-align: center;
  margin: 5px auto;

  .mat-header-row {
    background-color: #DDFFD2;
  }

  tr {
    &.selected {
      background-color: #FBDBDB;
    }

    &.bad {
      background-color: red;
    }
  }

  th {
    text-align: center;
  }
}
